@use 'mixins' as *;

body {
    margin: 0;
    background-color: rgb(88, 88, 88);
    color: white;
}

main {
    margin: 10vw;
    
}

.box {
    @include box;
}

ul {
    li {
        width: 50%;
    }
}