@mixin box {
    background-color: var(--color_black);
    color: white;
    margin-bottom: 4em;
    padding: 1em 2em;
    border-radius: 20px;
    border: solid var(--color_gold) 10px;
}

@mixin cap {
    color: var(--color_gold);
    font-family: var(--font-serif);
    font-weight: bold;
    font-size: 1.4em;
}