@use 'mixins' as *;

body {
    font-family: var(--font_serif);
    font-size: 20px;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -0.02rem;
    font-weight: 100;
}

h1, h2, h3 {
    font-family: var(--font_sans);
    color: var(--color_gold);
}

.cap {
    @include cap;
}