:root {
    --font_sans: helvetica, sans-serif;
    --font-serif: Georgia, serif;
    --color_blue: rgb(0, 0, 255);
    --color_orange: rgb(255, 170, 0);
    --color_light-orange: rgb(255, 203, 100);
}